*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  font-family: "Rubik", sans-serif;
  color: #303841;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(170deg, white 50%, #f6c90e 50%);
  background-size: 200% 200%;
  animation: colorChange 10s linear infinite;
}

@keyframes colorChange {
  0% {
    background-position: 60% 50%;
  }
  50% {
    background-position: 40% 50%;
  }
  100% {
    background-position: 60% 50%;
  }
}

button {
  background-color: #f6c90e;
  color: #303841;
  border: none;
  border-radius: 28px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: #e0ac1c;
}

.button-check {
  transform-origin: left center;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6c90e;
  cursor: default;
}

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

span {
  margin: 0 10px;
}

/* test */

.screen {
  width: 30%;
  max-width: 400px;
  height: 500px;
  padding: 12px 28px 0;
  border: 1px solid #ccc;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at 0% 0%, #f6c90e 100px, transparent 0);
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1000px) {
  .screen {
    width: 35%;
  }
}

@media only screen and (max-width: 850px) {
  .screen {
    width: 40%;
  }
}

@media only screen and (max-width: 670px) {
  .screen {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    display: block;
    padding: 20px;
    overflow-y: auto;
  }
  .screen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .screen:first-child {
    margin-bottom: 40px;
  }
}

.screen::-webkit-scrollbar {
  display: none;
}

.product-list,
.cart {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 70px;
  padding-bottom: 10px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.product-list::-webkit-scrollbar {
  display: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart {
  display: block;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.image-nike {
  width: 60px;
}

.image-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
}

.cart-items .image-container {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.image-container .image {
  transition: transform 1s;
}

.cart-items .image {
  width: 110px;
}

.image {
  width: 200px;
  transform: rotate(-25deg);
}

.circle {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6c90e;
  padding: 0;
}

.image-check {
  width: 20px;
}

.price-and-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.button-cart {
  display: flex;
  justify-content: space-between;
}

.button-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item .info-cart {
  flex: 1;
}

.button-amount .circle {
  background-color: rgb(225, 231, 237);
}

button.add-cart {
  font-weight: bold;
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.remove {
  animation: scaleDown 0.8s ease-out;
}

/* Delay the animation for the second child */
.cart-item.show div:nth-child(1) {
  animation: fadeInUp ease-in-out 0.4s forwards;
}

.cart-item.show div:nth-child(2) {
  animation: fadeInUp ease-in-out 0.8s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
